<div class="flex justify-center items-center mt-40">
    <div class="bg-primary p-8 shadow-md">
      <img src="https://cdn.grupoelcorteingles.es/SGFM/dctm/MEDIA03/202307/31/00117731298398____9__1200x1200.jpg" alt="Gazelle" class="w-full h-32 object-cover rounded-img mb-4">
      <h2 class="text-2xl text-white mt-5 mb-2">Adidas Gazelle</h2>
      <p class="text-gray-300 mb-4">Adidas Originals Gazelle casual sneakers</p>
      <div class="flex items-center justify-between">
        <span class="text-white text-lg mt-4">119,99 €</span>
        <button class="btn-more">More</button>
      </div>
    </div>
</div> 